* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todos {
  border-top: 1px solid red;
  padding: 10px 30px;
}

.todo {
  height: 60px;
  background: yellow;
  margin: 10px 0;
  position: relative;
}
.todo .delete-todo {
  position: absolute;
  right: 10px;
}
